.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  margin: 0.75rem 1.5rem;

  &__label {
    margin-left: 0.5rem;
  }

  &__input {
    margin-left: 0.5rem;
  }
}
