.overlay {
  background-color: rgba($color: #000000, $alpha: 0.7);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.5rem;

  &__form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 4rem;
    z-index: 10;
  }

  &__input-container {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    display: flex;
    margin-bottom: 1rem;
  }

  &__input {
    border: none;
    margin: 0;
  }

  &__event-heading {
    margin: 0;
    font-size: 0.75rem;
    font-weight: bold;
  }

  &__event-button {
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      color: grey;
    }
    &--delete {
      @extend .edit-item__event-button;
      color: red;
    }
  }

  &__events-container {
    width: 100%;
  }

  &__event {
    width: 100%;
    display: flex;
    margin-left: 2rem;
    display: flex;
    justify-content: space-between;
  }

  &__task {
    display: flex;
    justify-content: space-between;
    width: 48%;
  }

  &__task-label {
    &--checked {
      @extend .edit-item__task-input;
      text-decoration: line-through;
      color: grey;
    }
  }

  &__task-input {
    margin-right: 2rem;
  }

  &__event-description {
    margin: 0;
  }

  &__time-container {
    display: flex;
    justify-content: space-between;
  }

  &__half-day {
    display: flex;
    flex-direction: column;
    width: 48%;
  }

  &__time {
    // border-bottom: 1px solid grey;
    margin-bottom: 1rem;
    display: flex;
  }

  &__button-container {
    display: flex;
    justify-content: space-evenly;
  }

  &__button {
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 0.75rem 2rem;
    text-align: center;
    border-radius: 50px;
    transition: 0.2s;

    &:hover {
      background-color: white;
      color: black;
    }

    &--cancel {
      @extend .edit-item__button;
      background-color: white;
      color: black;

      &:hover {
        background-color: black;
        color: white;
        text-decoration: underline;
      }
    }
  }
}
