.single-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.5rem 1.5rem 1.5rem;

  &__main {
    width: 70%;
    display: flex;
    // justify-content: center;
    position: relative;
  }

  &__arrow--invisible {
    display: none !important;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  &__input-container {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    display: flex;
    margin-bottom: 1rem;
  }

  &__input {
    border: none;
    margin: 0;
  }

  &__event-heading {
    margin: 0;
    font-size: 0.75rem;
    font-weight: bold;
  }

  &__event-button {
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      color: grey;
    }
    &--delete {
      @extend .single-day__event-button;
      color: red;
    }
  }

  &__events-container {
    width: 100%;
  }

  &__event {
    width: 100%;
    display: flex;
    margin-left: 2rem;
    display: flex;
    justify-content: space-between;
  }

  &__task {
    display: flex;
    justify-content: space-between;
    width: 48%;
  }

  &__task-label {
    &--checked {
      @extend .single-day__task-input;
      text-decoration: line-through;
      color: grey;
    }
  }

  &__task-input {
    margin-right: 2rem;
  }

  &__event-description {
    margin: 0;
  }

  &__time-container {
    display: flex;
    justify-content: space-between;
  }

  &__half-day {
    display: flex;
    flex-direction: column;
    width: 48%;
  }

  &__time {
    // border-bottom: 1px solid grey;
    margin-bottom: 1rem;
    display: flex;
  }

  &__button {
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 0.75rem 2rem;
    text-align: center;
    border-radius: 50px;
    transition: 0.2s;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}
